*~
*.swp
*.class
bin/
target/
target-ide/
.settings/
.project
.classpath
.idea
*.iml

# Package Files #
*.jar
*.war
*.ear

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
isis.properties

.clover/
*.jdproj

*.log

isis.properties
persistor.properties
integtests/activemq-data/broker/KahaDB/db.data
integtests/activemq-data/broker/KahaDB/db.redo
webapp/activemq-data/broker/KahaDB/db.data
webapp/activemq-data/broker/KahaDB/db.redo
